.app-home {
    .title {
        text-align: center;
    }
    .desc {
        display: flex;
        justify-content: center;
        .para {
            font-size: 20px;
            margin: 30px 0;
            max-width: 720px;
        }
    }
    .btn-group {
        display: flex;
        justify-content: center;
        .btn {
            margin: 10px;
            width: 180px;
        }
    }
    .features {
        display: flex;
        margin: 20px 0;
        .app-home-feature {
            flex: 1 1 0;
            margin-top: 10px;
            padding: 15px;
            .header {
                text-align: center;
                font-size: 24px;
                padding-bottom: 5px;
                border-bottom: 1px solid gray;
                margin-bottom: 10px;
            }
            .icon {
                line-height: 1;
            }
            .header .iconfont {
                font-size: 40px;
            }
            .content {
                font-size: 16px;
                margin: 10px 10px;
            }
        }
    }
}